LOGGING_LEVEL=INFO

ELASTICSEARCH_URLS=["http://localhost:9200"]
ELASTICSEARCH_INDEX=rag-documents
ELASTICSEARCH_REQUEST_TIMEOUT_SECONDS=30.0

OLLAMA_URL=http://localhost:11434

VLLM_EMBEDDING_URL=http://localhost:8001
VLLM_RERANK_URL=http://localhost:8002
VLLM_CHAT_URL=http://localhost:8003

EMBEDDING_PROVIDER=ollama
EMBEDDING_DIMENSIONS=1024
EMBEDDING_TIMEOUT_SECONDS=120.0
# EMBEDDING_MODEL= qwen3-embedding # ollama: batiai/qwen3-embedding:0.6b
EMBEDDING_MODEL= batiai/qwen3-embedding:0.6b